<%- model_class = SustainabilityLevelCheck -%>
<div class="container">
 <div class="row">
   <div class="col-md-6 col-md-offset-3">
     <div class="panel panel-sustainability">
       <div class="panel-body">
         <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12">
             <h1 class="text-center">Sustainability Level Checker</h1>
             <%= button_to "Check Sustainability", check_url, method: :get, :form => { :id => "check-button"}, class: "center-block btn btn-check" %>
             <h2 class="text-center">Results</h2>
             <% if @sustainability_level_checks %>
               <table class="table table-striped">
                 <thead>
                   <tr>
                     <th>Date of Check</th>
                     <th>Sustainability Level</th>
                   </tr>
                  </thead>
                  <tbody id="result-list">
                    <%if @sustainability_level_checks.empty? %>
                        <td id="no-results" colspan="3">There is no past results</td>
                    <% end %>
                    <%= render partial: "sustainability_level_check", collection: @sustainability_level_checks %>
                  </tbody>
                </table>
              <% end %>
              <p class="copyright">
                2016 @ <a href="mailto:thiago.senhorinha@gmail.com" target="_blank">Thiago Senhorinha</a> and Ítalo Alberto | All rights Reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#check-button").on("click", function(){
    var dataSet = $(this).serialize();
    $.ajax({
        type: "POST",
        url: "/check",
        data: dataSet,
        success: function(data){
          $('#no-results').remove();
          $('#result-list').prepend(data)
        }
    });
    return false;
  });
</script>
